.catalog-list {
  width: 760px;
}
.catalog-list__sorting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-top: 60px;
}
.catalog-list__sorting-title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
.catalog-list__sorting-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 360px;
}
.catalog-list__sorting-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;

  margin: 0;

  width: 300px;

}
.catalog-list__sorting-link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #cacaca;
  &--active {
    color: #000000;
  }
  &:hover {
    color: #8d8d8d;
  }
  &:focus {
    color: #000000;
  }
}
.catalog-list__sorting-controls {
  width: 45px;
}
.catalog-list__icon-down {
  color: #ededed;
  &::before {
    content: '\25bc';
  }
  &:hover {
   color: #a6a6a6; 
  }
  &:focus {
    color: #000000;
  }
  &--active {
    color: #000000;
  }
}
.catalog-list__icon-up {
  color: #ededed;
  &::before {
    content: '\25b2';
  }
  &:hover {
    color: #a6a6a6; 
   }
   &:focus {
    color: #000000;
  }
  &--active {
    color: #000000;
  }
}

.catalog-list__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog-list__card {
  position: relative;

  height: 616px;
  width: 360px;
  margin-top: 33px;
}
.catalog-list__card-header {

  position: relative;
  height: 40px;

  padding-left: 16px;
  padding-top: 13px;
  background-color: #e9e9e9;
  border-radius: 5px 5px 0 0;
}
.catalog-list__card:hover  .catalog-list__card-header {
  background-color: #4d4d4d;
}
.catalog-list__card-circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 9px;

  background-color: #ffffff;
  border-radius: 50%;
}
.catalog-list__card-hover {
  position: absolute;
  display: flex;
  flex-direction: column;

  align-items: center;
  left: 0;
  bottom: 0;
   
  width: 360px;
  height: 231px;

  background-color: #eeeeee;

  transition-duration: 1s;

  display: none;
}
.catalog-list__card:hover .catalog-list__card-hover {
  display: flex;
  
}
.catalog-list__card-title {
  margin: 0;

  margin-top: 30px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.catalog-list__card-text {
  margin: 0;

  margin-top: 25px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #666666;
}
.catalog-list__card-link {
  margin-top: 30px;
}
